// :host {
//   display: flex;
// }

aside {
  position:fixed;
  width: 200px;
  height: 100vh;
  // margin: 72px 0px 0px 0;
  background-color: #1d1d1e;

  ul {
    margin-top: 80px;

    li {
      list-style-type: none;
      margin-bottom: 20px;
    
      a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.7em;
        color: rgb(115, 209, 247);
      }
  
      .active {
        color:#fff;
      }
  
      a:hover {
        color: #fff;
      }
    }
  }
}
