p {
  margin: 0 0 10px 0;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
  
input {
  width: 290px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #000000;
}
  
input:focus {
  outline: none;
}

