<!-- <div class="container">
    <div class="album">
        <h2>{{album.title}}</h2>
    </div>
</div> -->

Albums


<!-- <div class="container">
    <div class="card" *ngFor="let album of albums">
    <div class="card">
        <div class="card__image-container">
            <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
        </div>
        <div class="card__content">
            <h1 class="card__title">[{{album.id}}] {{album.title}}</h1>
            <p class="card__body"></p>
        </div> 
    </div>
</div> -->